*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Targetas imagenes */
.tarjeta {
    width: 200px;
    height: 250px;
    background-color: #ffffff; 
    color: #252424;            
    font-family: sans-serif;
    border-radius: 10px;
    padding: 7px;
   
}

.img {
    width: 100%;
    height: 200px;
    object-fit: cover;         
}

.info {
    padding: 8px;
}

.info h3 {
    font-size: 11px;
    margin-bottom: 4px;
}

.info p {
    font-size: 9px;
    line-height: 1.2;
}


/* Estructura */

body{
    display: grid;
    grid-template-areas: 
    "nav"
    "menu"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 60px 1fr 50px;
    min-height: 100vh;
}

nav{
    grid-area: nav;
    border: 1px solid salmon;


}

menu{
    grid-area: menu;
    border: 1px solid red;
}

main{
    grid-area: main;
    display: flex;
    background-color: rgb(245, 245, 231);
    border: 1px solid blue;
    align-items: center;

}

footer{
    grid-area: footer;
    border: 1px solid black;
}

/* Media Queries */

@media (min-width: 576px){
    body{
        grid-template-areas: 
        "nav nav"
        "menu main"
        "menu main"
        "footer footer";

    grid-template-columns: 250px 1fr;    
    grid-template-rows: 80px 2fr ;
    }
}